*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0;
}

.main-container{
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.flex-container{
    display: flex;
    height: 65px;
    align-items: center;
    justify-content: space-between; 
}

.flex-item_one{
    display: flex;
}
.flex-item_two{
    display: flex;
    list-style: none;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    
}

.head-section{
    border-bottom: 1px solid black;
    background-color: goldenrod;
    padding: 0 50px;
}

 nav li ~ li{
    margin-left: 15px;
}

.SignInButton{
    border: none;
    color: black;
    background-color: unset;
    border: none;
    cursor: pointer;
    
}

.GetStartedButton , .btn{
    border-radius: 20px;
    background-color: rgb(28, 27, 27);
    color: rgb(255, 241, 241);
    padding: 6px 20px;
    border: none;
    cursor: pointer;
    font-size: 10px;
}

.GetStartedButton:hover{
    background-color: black;
    color: white;
}

a{
    text-decoration: none;
    color: black;
}

.art{
    background-color: goldenrod;
    height: 55vh;
    padding: 40px;
}

.art-one{
    padding: 10px 0;
}

.art-two{
    padding: 10px 0;
}

button.btn{
    margin: 2em 0 0;
}

img{
    width:20px;
    padding: 10px 0 15px;
}

nav h2{
    padding: 0 5px 0;
}



